@import "tailwindcss";

:root {
  --primary-color: #2c3e50;
  --accent-color: #27ae60;
  --text-color: #333;
  --text-light: #7f8c8d;
  --bg-color: #f8f9fa;
  --card-bg: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Outfit', sans-serif;
}

@theme {
  --font-outfit: 'Outfit', sans-serif;
}