@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2c3e50;
  --accent-color: #27ae60;
  --text-color: #333;
  --text-light: #7f8c8d;
  --bg-color: #f8f9fa;
  --card-bg: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Outfit', sans-serif;
}

@theme {
  --font-outfit: 'Outfit', sans-serif;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}